services:
  # Service MinIO pour le stockage objet local
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"   # API S3
      - "9001:9001"   # Console Web
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - airflow

  # Service Metabase
  metabase:
    image: metabase/metabase:v0.48.7
    container_name: metabase
    volumes:
      - ./include/metabase-data:/metabase-data
    environment:
      MB_DB_FILE: /metabase-data/metabase.db
    ports:
      - "3000:3000"
    restart: always
    networks:
      - airflow

volumes:
  minio_data:
  metabase_data:

networks:
  airflow:
    driver: bridge
